html, body {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

.scroll {
    height: 100%;
    overflow: auto;
}

.Axis path, .Axis line {
    stroke: #e0e0e0;
}

.Axis text {
    font-size: 11px;
    fill: black;
}

.Axis-Bottom text {
    transform: rotate(-45deg);
    text-anchor: end;
}

.tooltip-top {
    font-size: 0.7rem !important;
}

.axis, .frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
}

.axis path {
    display: none;
}

.cell text {
    font-weight: bold;
    text-transform: capitalize;
}

.frame {
    fill: none;
    stroke: #aaa;
}

circle {
    fill-opacity: 0.7;
}

circle.hidden {
    fill: #ccc !important;
}

.extent {
    fill: #000;
    fill-opacity: 0.125;
    stroke: #fff;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: #2196F3;
}

.axisp line,
.axisp path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barscree {
  fill: #2196F3;
}

.barscree:hover {
  fill: yellow;
}

.axis--x path {
  display: none;
}
